*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    width: 100%;
    background-color: #1A1C20;
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 50px;
}
.left-page{
    max-height: 700px;
    width: 85%;
    background-color: rgb(97,95,97,0.82);
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    margin-right: 50px;

}
.right-page{
    min-height: 700px;
    width: 100%;
}
.borders{
    box-shadow: 10px 10px 10px #111111;
    border-radius: 20px;
}
.borders:hover{
    box-shadow: 1px 3px 10px #675e5e;
}
.right{
    min-height: 325px;
    max-height: 325px;
    width: 90%;
    background: rgba(54, 60, 67, 1);
    padding: 10px;

}
.right-top{
    
    padding-bottom: 10px;
}
.right-bottom{
    overflow: auto;
}
.line{
    width: 70%;
    
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    height: 3px;
    background-color: rgba(54, 60, 67, 1);
}
.r-top-buttons{
    background-color:black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
    margin:20px;
}


.buttons {
    padding: 7px 7px;
    border: 0;
    border-radius: 100px;
    background-color: transparent;
    color: #939393;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
.buttons:hover {
    background-color: #241e1e;
    box-shadow: 5px 0 30px #080b0c50;
    transform: scale(1.5);
    color:rgb(210, 195, 195);

  }
  
.buttons:active {
    background-color:#181212;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
  #para{
    color: rgb(200, 176, 176);
    padding: 10px;
    text-align: center;

  }
  .r-bottom-div{
    padding:15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    

  }
  .r-bottom-left-but{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 20px;
    background-color: black;
    color: rgb(219, 207, 207);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  /* From Uiverse.io by ke1221 */ 
.addImg {
    color: rgb(219, 207, 207);
    padding: 10px;
    border-radius: 0.5em;
    background: rgb(50, 56, 63);
    cursor: pointer;
    border: 1px solid rgb(66, 74, 83);
    transition: all 0.3s;
    box-shadow: 0px 0px 15px gray;
    margin-right: 20px;
  }
  
  .addImg:active {
    color: #504141;
    box-shadow: inset 4px 4px 12px #463737, inset -4px -4px 12px #4a4040;
  }
  .bor{
    color: rgb(219, 207, 207);
    background-color: rgb(35, 38, 42);
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px gray;
  }
  .bor:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #463737, inset -4px -4px 12px #4a4040;
  }
  .ImagesSection{
    padding: 15px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    
  }
  .images{
    border: 0px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 2PX;
    max-height: 90px;
    max-width: 90px;
    min-height: 90px;
    min-width: 90px;
  }


